# Виконання

## Основне завдання

In [1]:
import numpy as np
import pandas as pd
import nltk
import re
df = pd.read_csv('bbc-news-data.csv', sep='\t')
df

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
...,...,...,...,...
2220,tech,397.txt,BT program to beat dialler scams,BT is introducing two initiatives to help bea...
2221,tech,398.txt,Spam e-mails tempt net shoppers,Computer users across the world continue to i...
2222,tech,399.txt,Be careful how you code,A new European directive could put software w...
2223,tech,400.txt,US cyber security chief resigns,The man making sure US computer networks are ...
2224,tech,401.txt,Losing yourself in online gaming,"Online role playing games are time-consuming,..."

*Зчитування файлу*

### Видалимо колонки 'filename', 'title', 'category'.

In [2]:
df.drop(['filename', 'title', 'category'], axis=1, inplace=True)
df

                                                content
0      Quarterly profits at US media giant TimeWarne...
1      The dollar has hit its highest level against ...
2      The owners of embattled Russian oil giant Yuk...
3      British Airways has blamed high fuel prices f...
4      Shares in UK drinks and food firm Allied Dome...
...                                                 ...
2220   BT is introducing two initiatives to help bea...
2221   Computer users across the world continue to i...
2222   A new European directive could put software w...
2223   The man making sure US computer networks are ...
2224   Online role playing games are time-consuming,...

[2225 rows x 1 columns]

*Видалення колонок*

### Видалимо порожні документи, якщо вони є.

In [3]:
df = df[~(df.content.str.strip() == '')]
df

                                                content
0      Quarterly profits at US media giant TimeWarne...
1      The dollar has hit its highest level against ...
2      The owners of embattled Russian oil giant Yuk...
3      British Airways has blamed high fuel prices f...
4      Shares in UK drinks and food firm Allied Dome...
...                                                 ...
2220   BT is introducing two initiatives to help bea...
2221   Computer users across the world continue to i...
2222   A new European directive could put software w...
2223   The man making sure US computer networks are ...
2224   Online role playing games are time-consuming,...

[2225 rows x 1 columns]

*Видалення порожніх документів*

### Визначимо стоп-слова англійської мови.

In [4]:
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

*Стоп-слова*

### Визначимо функцію, що виконує попередню обробку документу. Застосуємо декоратор np.vectorize для того, щоб функція могла працювати з корпусами.

In [5]:
@np.vectorize
def preproc_doc(doc):
    doc = re.sub(r'[^a-zA-Z\s]', '', doc, re.I | re.A)
    doc = doc.lower()
    doc = doc.strip()
    tokens = wpt.tokenize(doc)
    filtered_tokens = [token for token in tokens if token not in stop_words]
    doc = ' '.join(filtered_tokens)
    return doc

p_corpus = preproc_doc(df.content)
p_corpus

array(['quarterly profits us media giant timewarner jumped bn three months december yearearlier firm one biggest investors google benefited sales highspeed internet connections higher advert sales timewarner said fourth quarter sales rose bn bn profits buoyed oneoff gains offset profit dip warner bros less users aol time warner said friday owns searchengine google internet business aol mixed fortunes lost subscribers fourth quarter profits lower preceding three quarters however company said aols underlying profit exceptional items rose back stronger internet advertising revenues hopes increase subscribers offering online service free timewarner internet customers try sign aols existing customers highspeed broadband timewarner also restate results following probe us securities exchange commission sec close concluding time warners fourth quarter profits slightly better analysts expectations film division saw profits slump helped boxoffice flops alexander catwoman sharp contrast yearearlier third final film lord rings trilogy boosted results fullyear timewarner posted profit bn performance revenues grew bn financial performance strong meeting exceeding fullyear objectives greatly enhancing flexibility chairman chief executive richard parsons said timewarner projecting operating earnings growth around also expects higher revenue wider profit margins timewarner restate accounts part efforts resolve inquiry aol us market regulators already offered pay settle charges deal review sec company said unable estimate amount needed set aside legal reserves previously set intends adjust way accounts deal german music publisher bertelsmanns purchase stake aol europe reported advertising revenue book sale stake aol europe loss value stake',
       'dollar hit highest level euro almost three months federal reserve head said us trade deficit set stabilise alan greenspan highlighted us governments willingness curb spending rising household savings factors may help reduce late trading new york dollar reached euro thursday market concerns deficit hit greenback recent months friday federal reserve chairman mr greenspans speech london ahead meeting g finance ministers sent dollar higher earlier tumbled back worsethanexpected us jobs data think chairmans taking much sanguine view current account deficit hes taken time said robert sinche head currency strategy bank america new york hes taking longerterm view laying set conditions current account deficit improve year next worries deficit concerns china however remain chinas currency remains pegged dollar us currencys sharp falls recent months therefore made chinese export prices highly competitive calls shift beijings policy fallen deaf ears despite recent comments major chinese newspaper time ripe loosening peg g meeting thought unlikely produce meaningful movement chinese policy meantime us federal reserves decision february boost interest rates quarter point sixth move many months opened differential european rates halfpoint window believe could enough keep us assets looking attractive could help prop dollar recent falls partly result big budget deficits well uss yawning current account gap need funded buying us bonds assets foreign firms governments white house announce budget monday many commentators believe deficit remain close half trillion dollars',
       'owners embattled russian oil giant yukos ask buyer former production unit pay back loan stateowned rosneft bought yugansk unit bn sale forced russia part settle bn tax claim yukos yukos owner menatep group says ask rosneft repay loan yugansk secured assets rosneft already faces similar repayment demand foreign banks legal experts said rosnefts purchase yugansk would include obligations pledged assets rosneft pay real money creditors avoid seizure yugansk assets said moscowbased us lawyer jamie firestone connected case menatep groups managing director tim osborne told reuters news agency default fight rule law exists international arbitration clauses credit rosneft officials unavailable comment company said intends take action menatep recover tax claims debts owed yugansk yukos filed bankruptcy protection us court attempt prevent forced sale main production arm sale went ahead december yugansk sold littleknown shell company turn bought rosneft yukos claims downfall punishment political ambitions founder mikhail khodorkovsky vowed sue participant sale',
       ...,
       'new european directive could put software writers risk legal action warns former programmer technology analyst bill thompson gets way dutch government conclude presidency european union pushing controversial measure rejected european parliament lacks majority support national governments leave millions european citizens legal limbo facing possibility court cases new law border controls defence even new constitution tv screens would full experts agonising impact daily lives sadly directly affected controversy concerns patenting computer programs topic may excite bloggers campaigning groups technical press obsess middle britain much fuss generate directive patentability computerimplemented inventions way amends article european patent convention yet new directive nodded next meeting one eus ministerial councils seems likely allow programs patented europe us many observers computing scene including think results disastrous small companies innovative programmers free open source software movement let large companies patent sorts ideas give legal force want limit competitors use really obvious ideas us cannot build system stores customer credit card details pay without reenter unless amazon lets hold patent oneclick online purchase small invention amazon made patent office first owns relatively free sort thing perhaps long new proposals go back although argument patentability software computerimplemented inventions going since least mids come head year proposals made endorsed council ministers radically modified european parliament represented original form national governments seem aware problems poland rejected proposal germanys main political parties opposed enough opposition guarantee rejection early december british government held consultation meeting commented proposals science minister lord sainsbury went along listen outline uk position according present embarrassing see little minister officials actually understood issues concerned draft directive put council called item approved rejected discussion amendment allowed worried first abuse democratic process involved disregarding views parliament abandoning carefully argued amendments goes heart european project even care software patents worried coders treated like today say tomorrow directly software patents granted programmer worry code writing infringing someone elses patent stealing software code already protected copyright patents copyright something much stronger patent gives owner right stop anyone else using invention even person invented separately never shame managed read lord byrons childe harolds pilgrimage pointed one articles contained substantial chunk poem could defend court claiming simply made coincidence hold patent sit afternoon write brilliant graphics compression routine happens lzw algorithm used gif files trouble patent law least us coincidence defence proposed directive supported many major software companies hardly surprising since usbased already cope legal environment allows patents legal departments crucially patents trade crosslicense patent holders even system breaks course microsoft found last year initially lost case brought eolas claimed internet explorer browsers infringed eolas patent one eventually thrown months uncertainty millions dollars small companies free open software movement patents trade much really useful software use every day programs like apache web server gnulinux operating system fearsomely popular firefox browser developed outside company structures people legal departments check patent infringements damage software happen overnight course directive goes written national laws steady stream legal actions small companies open source products eventually someone decide attack linux directly probably secret funding one two large players new directive limit innovation forcing programmers spend time checking patent infringements simply avoiding working potentially competitive areas damage europes computer industry hope council ministers integrity strength reject bad law bill thompson regular commentator bbc world service programme go digital',
       'man making sure us computer networks safe secure resigned year post amit yoran director national cyber security division within us department homeland security created following attacks division tasked improving us defences malicious hackers viruses netbased threats reports suggest left division given enough clout within larger organisation mr yoran took post september first task get cyber security division running organisation staff people budget division charged thinking carrying action make us networks impervious attack disruption viruses worms hack attacks become commonplace last months mr yoran oversaw creation cyber alert system sends warnings big hitting viruses net attacks occur warnings also contained information firms organisations could protect attacks cyber security division also audited us government networks discover exactly sitting network next step creation scanning system identify vulnerabilities made federal networks machines susceptible attack malicious hackers virus writers mr yorans division also work identify networks machines broken cyber criminals despite success mr yoran left post abruptly end last week reportedly giving one days notice bosses department homeland security amit yoran valuable contributor cyber security issues past year appreciate efforts starting departments cybersecurity program said department homeland security spokeswoman reports suggested mr yoran felt frustrated lack prominence given work protect netbased threats wider homeland organisation attempt us politicians pass law promote mr yoran raise profile departments work mired congress',

*Обробка документів*

### Розіб'ємо кожний документ на окремі слова, об'єднаємо усі слова в одну сукупність.

In [6]:
words = []
for doc in p_corpus:
    words.extend(doc.split(' '))
df_words = pd.DataFrame(set(words))
df_words.columns = ['words']
df_words.head(10)

           words
0         exeter
1         sunner
2     sisterhood
3        barrels
4     afterwards
5     shopfronts
6          along
7  contradictory
8         hogged
9        seagram

*Розбиття на слова*

### Визначимо частину мови для кожного слова. Використаємо функцію nltk.pos_tag.

In [7]:
df_words['ps'] = [tag for _, tag in nltk.pos_tag(df_words.words)]
df_words

             words   ps
0           exeter   NN
1           sunner   NN
2       sisterhood   NN
3          barrels  NNS
4       afterwards  VBP
...            ...  ...
31333     forcibly   RB
31334  challengers  VBZ
31335      suffers  NNS
31336        amaya   JJ
31337   presidency   NN

[31338 rows x 2 columns]

*Визначення частини мови*

### Узагальнимо частини мови до звичайних: noun, adective, verb тощо.

In [8]:
from nltk.tag import map_tag
df_words['sps'] = [map_tag('en-ptb', 'universal', tag) for tag in df_words.ps]
df_words

             words   ps   sps
0           exeter   NN  NOUN
1           sunner   NN  NOUN
2       sisterhood   NN  NOUN
3          barrels  NNS  NOUN
4       afterwards  VBP  VERB
...            ...  ...   ...
31333     forcibly   RB   ADV
31334  challengers  VBZ  VERB
31335      suffers  NNS  NOUN
31336        amaya   JJ   ADJ
31337   presidency   NN  NOUN

[31338 rows x 3 columns]

*Узагальнення чатин мов*

### Перетворимо узагальнені частини мови на абревіатури для лематизації.

In [9]:
abbr = {'NOUN': 'n', 'VERB': 'v', 'ADJ': 'a', 'ADV': 'r'}
def to_abbr(el):
    res = abbr.get(el)
    if res is not None:
        return res
    return ''

df_words['abbr'] = [to_abbr(x) for x in df_words.sps]
df_words

             words   ps   sps abbr
0           exeter   NN  NOUN    n
1           sunner   NN  NOUN    n
2       sisterhood   NN  NOUN    n
3          barrels  NNS  NOUN    n
4       afterwards  VBP  VERB    v
...            ...  ...   ...  ...
31333     forcibly   RB   ADV    r
31334  challengers  VBZ  VERB    v
31335      suffers  NNS  NOUN    n
31336        amaya   JJ   ADJ    a
31337   presidency   NN  NOUN    n

[31338 rows x 4 columns]

*Приведення загальних частин мов до абревіатур*

### Проведемо лематизацію кожного слова за допомогою методу lemmatize об'єкта класу nltk.stem.WordNetLemmatizer.

In [10]:
from nltk.stem import WordNetLemmatizer
wlem = WordNetLemmatizer()
def my_lem(word, abbr):
    if abbr == '':
        return wlem.lemmatize(word)
    return wlem.lemmatize(word, pos=abbr)
df_words['lemms'] = [my_lem(row[1]['words'], row[1]['abbr']) 
               for row in df_words.loc[:, ['words', 'abbr']].iterrows()]
df_words

             words   ps   sps abbr        lemms
0           exeter   NN  NOUN    n       exeter
1           sunner   NN  NOUN    n       sunner
2       sisterhood   NN  NOUN    n   sisterhood
3          barrels  NNS  NOUN    n       barrel
4       afterwards  VBP  VERB    v   afterwards
...            ...  ...   ...  ...          ...
31333     forcibly   RB   ADV    r     forcibly
31334  challengers  VBZ  VERB    v  challengers
31335      suffers  NNS  NOUN    n      suffers
31336        amaya   JJ   ADJ    a        amaya
31337   presidency   NN  NOUN    n   presidency

[31338 rows x 5 columns]

*Лематизація слів*

### Представимо корпус як модуль "Сумка слів". Використаємо для цього клас CountVectorizer зі sklearn.feature_extraction.text.

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(p_corpus)
cv_matrix = pd.DataFrame(cv_matrix.toarray(), 
                         columns=cv.get_feature_names_out())
cv_matrix.to_csv('bag_of_words.csv')

*Сумка слів*

### Представимо корпус як модель TD-IDF. Перетворимо матрицю з частотою термінів на матрицю tfidf.

In [12]:
from sklearn.feature_extraction.text import TfidfTransformer
tt = TfidfTransformer(norm='l2', use_idf=True)
tt_matrix = tt.fit_transform(cv_matrix)
tt_matrix = tt_matrix.toarray()
vocab = cv.get_feature_names_out()
tv_matrix = pd.DataFrame(np.round(tt_matrix, 2), columns=vocab)
tv_matrix

,00,000,05,10,100,11,12,125,13,14,...,zooropa,zornotza,zorro,zubair,zuluaga,zurich,zurichs,zutons,zvonareva,zvyagintsev
0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2221,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2222,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2223,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2224,0.0,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

*Матриця TF-IDF*

### Підрахуємо частоту кожного слова.

In [13]:
df_counts = pd.DataFrame(nltk.FreqDist(words).items(), columns=['words', 'counts'])
df_counts.set_index('words', inplace=True)
df_counts

           counts
words
quarterly      21
profits       152
us           1807
media         309
giant         152
...           ...
191             1
trifling        1
24hours         1
ahhhh           1
lol             1

[31338 rows x 1 columns]

*Частоти слів*

### Відсортуємо датафрейм за спаданням частоти.

In [14]:
df_counts.sort_values(by='counts', ascending=False, inplace=True)
df_counts

             counts
words
said           7252
mr             3004
would          2574
also           2156
people         1968
...             ...
braced            1
symbologist       1
brotherhood       1
illuminati        1
lol               1

[31338 rows x 1 columns]

*Сортований датафрейм*

### Зобразимо перші десять найбільш уживаних слів.

In [15]:
df_counts.head(10)

        counts
words
said      7252
mr        3004
would     2574
also      2156
people    1968
new       1901
us        1807
one       1732
year      1624
could     1495

*Найуживаніші слова*

### Виведемо метрику для перших десяти елементів

In [16]:
tv_matrix[df_counts.index[:10].to_list()]

      said    mr  would  also  people   new    us   one  year  could
0     0.05  0.00   0.00  0.03    0.00  0.00  0.06  0.02  0.00   0.00
1     0.03  0.02   0.00  0.00    0.00  0.04  0.16  0.00  0.02   0.05
2     0.04  0.00   0.02  0.00    0.00  0.00  0.05  0.00  0.00   0.00
3     0.06  0.02   0.02  0.01    0.00  0.00  0.00  0.00  0.07   0.00
4     0.02  0.00   0.00  0.00    0.00  0.00  0.02  0.02  0.02   0.02
...    ...   ...    ...   ...     ...   ...   ...   ...   ...    ...
2220  0.03  0.00   0.02  0.00    0.04  0.04  0.00  0.00  0.00   0.00
2221  0.04  0.00   0.00  0.02    0.09  0.00  0.00  0.02  0.00   0.00
2222  0.00  0.00   0.01  0.00    0.01  0.07  0.04  0.04  0.02   0.02
2223  0.01  0.10   0.00  0.04    0.02  0.00  0.10  0.02  0.03   0.02
2224  0.01  0.00   0.03  0.00    0.09  0.01  0.02  0.04  0.02   0.03

[2225 rows x 10 columns]

*Метрики для найбільш уживаних слів*

## Додаткове завдання 1

## Зчитаємо текст.

In [17]:
df_ukr = pd.read_csv('ukr_text.csv')
df_ukr

,Id,Title,Body
0,http://k.img.com.ua/rss/ua/4013798,Кличко покликав німецьких інвесторів до Києва,Київ - перспективний і відкритий ринок для біз...
1,http://k.img.com.ua/rss/ua/4001679,"З'явилося відео, як байкер почав стріляти у во...",З'явилося відео конфлікту між мотоциклістом...
2,http://k.img.com.ua/rss/ua/4001390,У центрі Києва посеред вулиці помер чоловік,У Києві на Бессарабській площі вранці в четвер...
3,http://k.img.com.ua/rss/ua/4001239,Нічний ураган перетворив Хрещатик на смітник,Київ вночі 16 серпня пережив найсильнішу грозу...
4,http://k.img.com.ua/rss/ua/4001227,Потоп у Києві: столицю накрив ураган з градом,Уночі Київ вкотре накрила негода. Найсильніший...
...,...,...,...
1117,http://k.img.com.ua/rss/ua/3194862,Корреспондент: Діамантові руки. Історія успіху...,Київський офіс Класичного ювелірного дому Лобо...
1118,http://k.img.com.ua/rss/ua/3194633,Корреспондент: Роздача слонів. Янукович щедро ...,20 років тому орден За заслуги – тоді він нази...
1119,http://k.img.com.ua/rss/ua/3194587,Корреспондент: Рівняння з трьома відомими. Укр...,10 жовтня політичні важковаговики з табору опо...
1120,http://k.img.com.ua/rss/ua/3194570,Корреспондент: Точка зору. Мета обкрадає кошти...,"Добре там, де нас немає. В Ізраїлі ми є, але т..."
1121,http://k.img.com.ua/rss/ua/3194519,Корреспондент: Капітан Океанів. Інтерв’ю зі Св...,Початок розмови Корреспондента зі знаменитим у...

*Зчитування файлу*

### Видалимо колонки 'id'.

In [18]:
df_ukr.drop(['Id'], axis=1, inplace=True)
df_ukr

,Title,Body
0,Кличко покликав німецьких інвесторів до Києва,Київ - перспективний і відкритий ринок для біз...
1,"З'явилося відео, як байкер почав стріляти у во...",З'явилося відео конфлікту між мотоциклістом...
2,У центрі Києва посеред вулиці помер чоловік,У Києві на Бессарабській площі вранці в четвер...
3,Нічний ураган перетворив Хрещатик на смітник,Київ вночі 16 серпня пережив найсильнішу грозу...
4,Потоп у Києві: столицю накрив ураган з градом,Уночі Київ вкотре накрила негода. Найсильніший...
...,...,...
1117,Корреспондент: Діамантові руки. Історія успіху...,Київський офіс Класичного ювелірного дому Лобо...
1118,Корреспондент: Роздача слонів. Янукович щедро ...,20 років тому орден За заслуги – тоді він нази...
1119,Корреспондент: Рівняння з трьома відомими. Укр...,10 жовтня політичні важковаговики з табору опо...
1120,Корреспондент: Точка зору. Мета обкрадає кошти...,"Добре там, де нас немає. В Ізраїлі ми є, але т..."
1121,Корреспондент: Капітан Океанів. Інтерв’ю зі Св...,Початок розмови Корреспондента зі знаменитим у...

*Видалення колонок*

### Видалимо порожні документи, якщо вони є.

In [19]:
df_ukr = df_ukr[~(df.content.str.strip() == '')]
df_ukr

/tmp/ipykernel_12985/2724321335.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_ukr = df_ukr[~(df.content.str.strip() == '')]

,Title,Body
0,Кличко покликав німецьких інвесторів до Києва,Київ - перспективний і відкритий ринок для біз...
1,"З'явилося відео, як байкер почав стріляти у во...",З'явилося відео конфлікту між мотоциклістом...
2,У центрі Києва посеред вулиці помер чоловік,У Києві на Бессарабській площі вранці в четвер...
3,Нічний ураган перетворив Хрещатик на смітник,Київ вночі 16 серпня пережив найсильнішу грозу...
4,Потоп у Києві: столицю накрив ураган з градом,Уночі Київ вкотре накрила негода. Найсильніший...
...,...,...
1117,Корреспондент: Діамантові руки. Історія успіху...,Київський офіс Класичного ювелірного дому Лобо...
1118,Корреспондент: Роздача слонів. Янукович щедро ...,20 років тому орден За заслуги – тоді він нази...
1119,Корреспондент: Рівняння з трьома відомими. Укр...,10 жовтня політичні важковаговики з табору опо...
1120,Корреспондент: Точка зору. Мета обкрадає кошти...,"Добре там, де нас немає. В Ізраїлі ми є, але т..."
1121,Корреспондент: Капітан Океанів. Інтерв’ю зі Св...,Початок розмови Корреспондента зі знаменитим у...

*Видалення порожніх документів*

### Визначимо стоп-слова української мови. Завантажимо їх.

In [20]:
import requests
url = 'https://raw.githubusercontent.com/olegdubetcky/Ukrainian-Stopwords/main/ukrainian'
r = requests.get(url)
with open(nltk.data.path[0]+'/corpora/stopwords/ukrainian', 'wb') as f:
    f.write(r.content)

*Завантаження стоп-слів*

### Визначимо стоп-слова.

In [21]:
import string
import pymorphy2
from nltk.corpus import stopwords
stop_words = stopwords.words("ukrainian")
morph = pymorphy2.MorphAnalyzer(lang='uk')
stop_words = pd.Series(list(set(stop_words+list(string.punctuation))))
stop_words

0         чи
1         по
2         ні
3       чого
4        від
       ...
182    знову
183      мій
184     буде
185        "
186      щоб
Length: 187, dtype: object

*Визначення стоп-слів*

### Завантажимо корпус.

In [26]:
p_corpus_ukr = preproc_doc(df_ukr.Body)
p_corpus_ukr

array(['еруть участь близько 1000 чоловік , серед яких представники понад 50 промислово - торговельних палат німеччини , провідних німецьких компаній , які здійснюють зовнішньоторговельну діяльність , експерти . " сьогодні київ , як ніколи , підготовлений і відкритий до співпраці . перспективний для інвестування ", - сказав кличко . він зазначив , що 60 % всіх іноземних інвестицій в українську економіку " приходять " саме в столицю , адже в місті введені прозорі механізми управління , а " гарантом " для інвесторів мер виступає особисто . кличко запевнив , що київ є надійним партнером і перспективним ринком для бізнесу та інвестицій . " хочу запевнити , ми - надійні партнери . київ - перспективний ринок для бізнесу та інвестицій . і його мер - захисник інвестицій і добре говорить по - німецьки . ми приречені на ефективну співпрацю . і налаштовані на неї !" - звернувся до представників німецького бізнесу кличко . він зазначив , що для україни одним з пріоритетних напрямків є розвиток відносин з німеччиною , яка допомагає політично , підтримує європейські прагнення україни і є одним з основних українських зовнішньоекономічних партнерів . кличко підкреслив , що такі відомі німецькі компанії як deutz fahr , knauf , hipp , walter bau , leon , bmw , man , audi вже активно працюють на українському ринку . німеччина також є одним з найбільших постачальників високотехнологічної продукції і обладнання в україні . разом з тим , мер відзначив ефективність співпраці києва з німецькими партнерами . " завдяки компанії sap , наприклад , ми першими в україні , ввели в столиці відкритий бюджет . тим самим почавши впроваджувати технологію міського управління smart city ", - сказав він . мер додав , що київ також співпрацює з німецькими фахівцями в галузі мостобудування , енергоефективності . а фахівці з муніципалітету підвищують кваліфікацію і переймають досвід управління у колег в різних містах німеччини . кличко зазначив , що в 2014 році він взяв на себе відповідальність змінити місто і робить це . " можу сказати : нехай складно і з проблемами , але мені це вдається . київ змінюється , розвивається , стає красивішим і комфортнішим ", - сказав він . кличко також зазначив , що протягом останніх чотирьох років столична влада працює над оновленням інфраструктури , будівництвом нових шкіл і садочків , ремонтом лікарень , створенням зелених зон відпочинку європейського рівня . " сьогодні до києва приїжджають мільйони туристів , ми проводимо великі заходи міжнародного рівня . київ можна образно назвати " островом процвітання " в країні . адже , порівняно з 2014 роком , міський бюджет збільшився удвічі . а зовнішній борг міста ми вдвічі скоротили . багато українців сьогодні хочуть жити саме в києві , оскільки в столиці найвищий рівень заробітної плати в країні , немає безробіття , краща соціальна підтримка незахищених категорій населення ", - зазначив кличко . він також сказав , що робить все , аби київські стандарти життя та ноу - хау поширювалися й на інші українські міста . " у мене ще багато амбітних планів та завдань , і я працюю , щоб київ став процвітаючою європейською столицею . і основна наша задача - продовжувати системні економічні реформи , викорінювати корупцію на всіх рівнях . не побороли ми її ще , на жаль . але ми це сьогодні робимо ", - підкреслив мер києва . дивіться фото : кличко покликав німецьких інвесторів до києва раніше повідомлялося , що віталій кличко в берліні підписав меморандум з компанією atene kom gmbh про співробітництво у сфері розвитку smart city . також раніше стало відомо , що в києві збільшили фінансування програми " турбота . назустріч киянам " майже на 200 млн грн - до 1 , 75 млрд грн . про це повідомив мер столиці віталій кличко .',
       'facebook нспорту , і почалася бійка . в результаті , водій отримав кілька поранень з травматичного пістолета , а байкер був затриманий . " байкер зробив 10 пострілів з пістолета форт 17 у водія маршрутного автобуса . пілот байка затриманий відповідно до статті 208 кпк україни та поміщений в ізолятор тимчасового утримання . відкрито кримінальне провадження за статтею 296 кк україни ( хуліганство )", - йдеться в повідомленні . нагадаємо , 15 серпня в ході бійки невідомі застосували вогнепальну зброю , в результаті чого постраждали двоє людей . їх госпіталізували : одного з дотичним пораненням в ліве стегно , а іншого - в ногу і живіт .',
       'мерть . за попередніми даними , причиною загибелі чоловіка стало передозування наркотиків . раніше в дніпрі на території слобожанського проспекту знайшли труп . також повідомлялося , що в харкові на університетській вулиці померла жінка .',
       ...,
       'ише одне гасло – євроінтеграція , євроінтеграція і ще раз євроінтеграція . двоє в човні зранку біля однієї з аудиторій київського національного торговельно - економічного університету ( кнтеу ), розташованого на західній околиці києва , студенти роздавали всім , хто входить , буклети від імені луценка – я вибираю єс . були ще й аналогічні прапорці , але їх швидко розібрали . монітор на стіні аудиторії , втім , як і екран в холі університету , монотонно повідомляв , що сьогодні тут чекають у гості порошенка , який є депутатом , екс - міністром , главою компанії roshen і власником 5 каналу . депутат , екс - міністр й інше прибув на зустріч вчасно , та ще й у компанії луценка , якого монітор не анонсував . у залі їх чекали студенти , кілька фотографів і пара телекамер . ведучим зустрічі виявився худорлявий чоловік , який розповів , що порошенко тут частий і бажаний гість . пізніше виявилося , що роль модератора виконав ректор кнтеу . фото дмитра ніконорова " хто з вас проти євроінтеграції – підніміть руку ", – з місця в кар \' єр почав порошенко . якийсь фотограф в цей момент махнув рукою , закликаючи когось , і зал пирснув від сміху . " фотограф не рахується ", – посміхнувся глава roshen і відразу посерйознішав , повідомивши , що влада є відображення волі народу . " влада у нас змінювалася кілька разів , а " покращення ", вибачте за це слово , все не відбувалося . отже змінювати треба себе ", – сказав порошенко . і додав , що найкраще це робити в оточенні пристойних європейських сусідів . аудиторія слухала уважно . оратор перейшов до розповіді про базові " так " єс – високі зарплати , верховенство права , свободу особистості . а потім – про базові " ні ". " європейський союз – це ні комунізму , ні агресивному націоналізму і ні колоніальному імперіалізму ", – заявив депутат . збентеживши студентські душі різноманітними - ізмами , політик протягом 20 хвилин доносив до слухачів одну думку : без підписання угоди про асоціацію україні не можна . від неї залежать доля країни і кожного з присутніх . один з присутніх – луценко , який сидів на стільці , – сприйняв слова депутата як заклик і взяв долю в свої руки : піднявся , вийшов у центр , видав кілька жартів , коротко згадав про в \' язницю . привернувши таким чином увагу аудиторії , перейшов до справи . " ми прийшли просити вас скористатися цією стрічкою , – підняв луценко над головою шматочок тканини в кольорах українського прапора ( такі роздавали на вході ), – публічно . це ваш сигнал владі , можливість показати їй , що європейський вибір це не змова еліт , а вибір народу ". фото дмитра ніконорована самих політиках , правда , ніяких стрічок не було . в останніх рядах студенти старших курсів продовжували списувати домашні завдання , що не заважало їм разом з іншими уважно слухати . і навіть ставити запитання . наприклад , про співпрацю з міжнародним валютним фондом . порошенко відверто зізнався : без кредиту мвф країні не обійтися , а позичати більше немає в кого . луценко вже не сідав , а стояв поруч й іноді , не витримавши , вставляв репліки і доповнення . хтось з викладачів запитав , а навіщо все - таки ми потрібні єс . порошенко пішов від зворотного : розповів , навіщо ми потрібні росії . усім присутнім відразу стало зрозуміло , що вже краще хай ми будемо потрібні єс . одну зі студенток чомусь непокоїло вкрай практичне запитання . - всі ми знаємо , що після угоди продукти , масло наприклад , подорожчають , – з натиском вимовила вона . - не факт ! – швидко відреагував луценко . - ну ... всі ми знаємо , що в єс продукти якісніші . - не факт ... – протягнув власник roshen , зірвавши оплески . потім він пояснив , що продукти стануть якіснішими і дешевшими за рахунок підвищення конкуренції , чим усіх і заспокоїв . запитання ще не закінчилися , та й гості не поспішали прощатися , але ведучий згадав , що його основна посада – ректор , і тому вирішив повернути студентів у лоно науки . він подякував гостям і запросив їх зазирнути сюди знову після 30 листопада , вже зі звітом за підсумками українсько - європейського саміту у вільнюсі . " і з [ юлією ] тимошенко !" – кинув луценко . фото дмитра ніконороваректор радісно закивав і лише в цю мить , під саму завісу , розкрив таємницю появи євроінтеграційної парочки в стінах вузу : виявилося , що днями депутати вр , в тому числі і порошенко , проголосували за законопроект , який дозволить університету закінчити будівництво нового корпусу гуртожитку . ця репліка викликала найгучніші овації в аудиторії . інший бік опозиції увечері того самого дня відбулася ще одна зустріч опозиції зі студентами . опозицію на ній представляла звична особа – лідер батьківщини яценюк , а ось студенти були нестандартними : серйозні люди , топ - менеджери з києва та львова , які гризуть граніт науки в києво - могилянській бізнес - школі . яценюк останні тижні і без того провів у товщі народних мас – політик їздив по київській області і навіть пообідав з власниками придорожньої чебуречної . до могилянки він запізнився на 45 хвилин , принісши із собою аж ніяк не аромат чебуреків , а запах дорогого одеколону . запізнення пояснив зустріччю з міністром закордонних справ німеччини . відхиливши прохання присісти і ставши над невеликою аудиторією , в якій перебувало осіб 40 , перейшов до суті . - асоціація з єс буде підписана ! – заявив яценюк майже урочисто . - та ну ?! – вигукнув хтось із заднього ряду . яценюк швидко знайшов очима скептика : - сплюньте ! фото наталі кравчукдалі політик почав шукати спільну мову з аудиторією , тобто заходився зловживати спеціалізованими англомовними економічними термінами . у перекладі вся ця словесна еквілібристика зводилася до такого : компанія україна в рецесії і без кредиту мвф не зможе ; без реформ та євроінтеграції їй взагалі гаплик . приблизний план дій : новий ефективний менеджмент , демонополізація , верховенство права , ставка на it - сферу і реформи . тут яценюка перебила блондинка з довгою і складною посадою і , судячи із зовнішності та одягу , з такою ж довгою сумою в зарплатній відомості . як пізніше виявилося , вона – мати чотирьох синів , але в цю хвилину запитання її хвилювало аж ніяк не дитяче : - де наша силіконова долина ? яценюк спробував не розгубитися перед натиском жінки - матері : - щоб робити реформи ... ні , я не люблю це слово . зміни ... щоб здійснювати зміни , потрібно обговорити це з фахівцями в кожній галузі . дайте меню – будемо обговорювати і діяти . закінчивши спіч , опозиціонер став опускатися в біле крісло . сівши в ньому , яценюк спробував направити питання з аудиторії в потрібне русло : " так , ви знаєте , це дуже приємно і весело – бути в опозиції ... це дуже непросто , але ці питання вам не цікаві , і я не буду ними ділитися , у кожного свої проблеми , і кожен з ними сам справляється ". спроба вдалася – про персональну долю лідера опозиції не питали . фото наталі кравчукна скаргу про те , що угода з єс ще не підписана , а новим правилам стандартизації в сільському господарстві українцям уже важко відповідати , політик відрізав : - при цьому вам доведеться багато інвестувати , щоб вийти на рівень європейських компаній . ціна завжди висока , якщо хочеш чогось досягти . якщо хочеш бути в хорошій формі , що робиш ? ідеш в спортзал і працюєш там , працюєш . - так і померти можна ! – вигукнула сміхотлива блондинка зі львова . - не помрете , – авторитетно заявив яценюк . далі із зали вилетіло простеньке запитання : чи буде єдиний кандидат від опозиції ? " кожен хоче стати президентом , – пожартував політик . – ну , є таке непереборне бажання !" але від відповіді спробував піти , сказавши : для висунення єдиного кандидата , мовляв , необхідне злиття партій . далі з \' ясувалося , що " вони " домовилися й у другому турі , хто б не пройшов , " підтримаємо всі ". говорив про це яценюк з оптимізмом , причина якого швидко з \' ясувалася : виявилося , що у нього є оптимістичні соціологічні дані . згідно з ними , янукович набере 30 - 35 %, " ми " – 23 - 27 %, " колега " віталій кличко – 12 - 17 % , " олег ", тобто тягнибок – 4 - 7 %. слухачі помітили це багатозначне " ми " в контексті рейтингу батьківщини , і з залу зазвучав голос людини , яка раніше цікавилася перспективами аграріїв в єс : - а у вашій партії хто буде єдиним ? у відповідь – штамп : мовляв , у них поки що єдиний – юлія володимирівна тимошенко . - а хто балотуватися буде , я після саміту скажу , – заявив політик . фото наталі кравчукпоставивши таким чином відповідь на паузу , яценюк з подання слухачів перейшов до обговорення відносин з росією . потім пішли запитання про вартість ліцензій , заплутаність оподаткування . і тут на яценюка чекала нова несподіванка : з \' ясувалося , що максимально практичних топ - менеджерів хвилює відсутність національної ідеї . оратор спробував взяти цю тему з ходу , формулюючи основні постулати : щоб була робота і зарплата , впевненість у завтрашньому дні , справедливість , єдина країна і євроінтеграція . аудиторія , не вдовольнившись загальними фразами , просила уточнити відповідь . і яценюку довелося почесно здатися : " не думайте про національну ідею , думайте про свою компанію , близьких , сім \' ї . якщо кожен про це подбає , всім добре буде ". під кінець зустрічі яценюк не витримав і сам почав говорити про особисте і наболіле – " тушки ". у відповідь на запитання , де брати цінні кадри , яких немає , незважаючи на мільйони безробітних , опозиціонер , чия фракція стала єдиним постачальником перебіжчиків у вр , заявив : " не тільки у вас проблеми з кадрами . і я теж таких приводив , що мама дорога . людина на біблії присягається , падлюка , а потім продається . 10 % втрат неминучі . я це пережив від найближчих ". і , як справжній європеєць , потиснувши руки всім слухачам – і чоловікам і жінкам – пішов .*** цей матеріал опубліковано в №& nbsp ; 41 журналу корреспондент від & nbsp ; 18 жовтня 2013 року . передрук публікацій журналу корреспондент у повному обсязі заборонено . з правилами використання матеріалів журналу корреспондент , опублікованих на сайті корреспондент . net , можна ознайомитися тут .& nbsp ;',

*Корпус*

### Завантажимо тональний словник української мови.

In [27]:
import csv
url = 'https://raw.githubusercontent.com/lang-uk/tone-dict-uk/master/tone-dict-uk.tsv'
r = requests.get(url)
with open(nltk.data.path[0]+'/tone-dict-uk.tsv', 'wb') as f:
    f.write(r.content)
    
d = {}
with open(nltk.data.path[0]+'/tone-dict-uk.tsv', 'r') as csv_file:
    for row in csv.reader(csv_file, delimiter='\t'):
        d[row[0]] = float(row[1])
        
from nltk.sentiment.vader import SentimentIntensityAnalyzer
SIA = SentimentIntensityAnalyzer()
SIA.lexicon.update(d)

*Завантаження тонального словника*

### Порахуємо оцінку настрою для тексту.

In [28]:
df_ukr['score'] = df_ukr.apply(
    lambda row: SIA.polarity_scores(row.Body)["compound"], axis = 1)
df_ukr

,Title,Body,score
0,Кличко покликав німецьких інвесторів до Києва,Київ - перспективний і відкритий ринок для біз...,0.8268
1,"З'явилося відео, як байкер почав стріляти у во...",З'явилося відео конфлікту між мотоциклістом...,-0.2500
2,У центрі Києва посеред вулиці помер чоловік,У Києві на Бессарабській площі вранці в четвер...,-0.6124
3,Нічний ураган перетворив Хрещатик на смітник,Київ вночі 16 серпня пережив найсильнішу грозу...,-0.2500
4,Потоп у Києві: столицю накрив ураган з градом,Уночі Київ вкотре накрила негода. Найсильніший...,-0.2500
...,...,...,...
1117,Корреспондент: Діамантові руки. Історія успіху...,Київський офіс Класичного ювелірного дому Лобо...,0.9584
1118,Корреспондент: Роздача слонів. Янукович щедро ...,20 років тому орден За заслуги – тоді він нази...,0.9949
1119,Корреспондент: Рівняння з трьома відомими. Укр...,10 жовтня політичні важковаговики з табору опо...,0.7980
1120,Корреспондент: Точка зору. Мета обкрадає кошти...,"Добре там, де нас немає. В Ізраїлі ми є, але т...",-0.8385
1121,Корреспондент: Капітан Океанів. Інтерв’ю зі Св...,Початок розмови Корреспондента зі знаменитим у...,0.9581

*Оцінка настрою*